
<h1 [ngStyle]="titlestyle">Bienvenue dans la tour des {{heroe.length}}heros,{{username}}</h1>
<p>
  <label for="InputUsername">Votre nom <input id="InputUsername" type="text" name="name" [(ngModel)]="username" ng-model-options="{ getterSetter: true }"></label>
</p>
<button (click)="AddHero()">Ajouter un hero</button><br>
Vos heroes : 
<ul>
  <li *ngFor="let hero of heroe" id="hero">{{hero}} <small *ngIf="hero==username">(c'est moi :)</small> </li>
</ul>

<label for="InputHeroName">Héros à ajouter : <input type="text" name="nameOfTheHero" id ="InputHeroName" [(ngModel)]="heroToAdd"></label>
<button (click)="AddHero()">Ajouter un héros</button>

<br>
<br>

les Méchants : 
<ul>
  <li *ngFor="let mechant of mechants" id="mechant">{{mechant}}</li>
</ul>
<label for="InputMechantName">Méchant à ajouter : <input type="text" name="nameOfTheMechant" id="InputMechantName"[(ngModel)]="mechantToAdd"></label>
<button (click)="AddMechant()">Ajouter un Méchant</button>